<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
    <span class="brand-text">TANK TRACKER</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" id="homeLink" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item login">
        <a class="nav-link" id='loginLink' href="/api/user/login">Login</a>
      </li>
      <li class="nav-item logout">
        <a class="nav-link" id='logoutLink' href="/api/user/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div>
            {{#each posts}}
              {{#if @first}}
                <img src="/{{imgWater}}.jpeg" alt="Water Image" class="waterimage" id="water-image">
              {{/if}}
            {{/each}}
            </div>
        </div>
        <div class="col-md-6">      
          <p class="water-text" id="water-text"></p>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="table-container">
          <h2>Water Level Data</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Water Level</th>
              </tr>
            </thead>
            <tbody>
              {{#each posts}}
                <tr>
                  <td>{{createdAt}}</td>
                  <td>{{waterLevel}} </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
            <button class="btn btn-primary" id="email">Send data</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-container">
          <div class="image-container">
            {{#each posts}}
              {{#if @first}}
                <img src="/Tinaco{{waterLevel}}.png" alt="Image" class="image" id="{{waterLevel}}">
              {{/if}}
            {{/each}}
          </div>
          <h2 class="text-center">The level of water today is:</h2>
          {{#each posts}}
            {{#if @first}}
            <p class="text-center">{{waterLevel}} </p>
            {{/if}}
          {{/each}}
          <div class="btn-container">
            <button class="btn btn-success" id="Pumpon">Turn on water pump</button>
            <button class="btn btn-danger" id="Pumpoff">Turn off water pump</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="graph-container">
      <h2 class="text-center">Water Level Graph</h2>
      {{> graph }}
    </div>
  </div>
</section>
<script src="/logout.js"></script>
<script src="/tank.js"></script>